@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture,
img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

/*Root Settings*/

:root {
    /*Primary*/

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral*/

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /*Font Weight*/

    --light: 400;
    --medium: 500;
    --bold: 700;

    /*Font Family*/

    --ff-primary: 'League Spartan', sans-serif;
}

/*Basic Styles*/

body {
    background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: 100%;
    font-family: var(--ff-primary);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.sr-only {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*Main Content*/

.social {
    display: grid;
    gap: 3vh;
    padding: 8vh 6.25%;
}

/*Header*/

.social__header {
    text-align: center;
    display: grid;
    gap: 2vh;
}

.social__header__heading {
    color: var(--very-dark-magenta);
    font-size: clamp(2rem, 10.4vw, 3.6rem);
    line-height: .8;
}

.social__header__text {
    color: var(--dark-grayish-magenta);
    font-size: clamp(1rem, 4.7vw, 1.2rem);
    font-weight: var(--medium);
}

/*Ratings*/

.social__ratings {
    text-align: center;
    list-style-type: none;
    display: grid;
    gap: 1rem;
}

.social__ratings__row {
    background-color: var(--light-grayish-magenta);
    border-radius: .5rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}

.social__ratings__row__stars {
    background: url(../images/icon-star.svg), url(../images/icon-star.svg), url(../images/icon-star.svg), url(../images/icon-star.svg), url(../images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: left, 25%, center, 75%, right;
    background-size: contain;
    height: 1rem;
    width: 7rem;
}

.social__ratings__row__text {
    color: var(--very-dark-magenta);
    font-weight: var(--bold);
}